<%if current_user.username == @user_profile.username%>
<% who = "Your" %>
<h1> These are all your answers</h1>
<%else%>
<% who = @user_profile.username + "'s"%>
<h1> These are all <%=@user_profile.username%>'s answers</h1>
<%end%>

<% @answers.each_with_index do |answer, index| %>
  <%question = Question.find(answer.question_id)%>
  <p id = "question">Question no. <%=question.id%>: <%=question.question %> </p>
  <p id="answer"> 
 <%=who%> answer: <%= answer.answer%> </p>
<% end %>

<a href="/users/<%= @user_profile.id%>" id = "back"> &#8617; Go Back</a>