<%if current_user.username == @user_profile.username%>
<h2> Welcome <%= @user_profile.username %>!</h2>
<%else%>
<h2><%= @user_profile.username %>'s profile</h2>
<%end%>

<% if logged_in?%>

<% if current_user.id == @user_profile.id%>
<h3><%= @user_profile.email %></h3>
<ul>
<p> <a href="/ask_question">Ask a question</a> </p>
<p> <a href="/answer_question">Answer a question</a> </p>
<p> <a href="/show_user_questions/<%=@user_profile.id %>">Show your questions</a> </p>
<p> <a href="/show_user_answers/<%=@user_profile.id %>">Show your answers</a> </p>
<p> <a href="/show_all_questions">Show all questions!</a> </p>
<p> <a href="/update_info">Update your info</a> </p>
</ul>
<p><a href="/" id = "back"> &#8617; Go back</a></p>

<% else %>

<p> <a href="/show_user_questions/<%= @user_profile.id %>">Show <%= @user_profile.username %>'s questions</a> </p>
<p> <a href="/show_user_answers/<%=@user_profile.id %>">Show <%= @user_profile.username %>'s answers</a> </p>
</ul>
<p><a href="/show_all_users" id = "back"> &#8617; Go back</a></p>


<% end %>

<% else %>

<p> <a href="/show_user_questions/<%= @user_profile.id %>">Show <%= @user_profile.username %>'s questions</a> </p>
<p> <a href="/show_user_answers/<%=@user_profile.id %>">Show <%= @user_profile.username %>'s answers</a> </p>
</ul>
<p><a href="/show_all_users" id = "back"> &#8617; Go back</a></p>

<% end %>





