<h1>All Users</h1>

<% @users.each_with_index do |user, index| %>
  <%if logged_in? == false %>
    <p><%= index+1 %>. <a href="/users/<%= user.id %>"><%= user.username %></a></p>
  <%elsif current_user.username != user.username && logged_in?%>
    <p><%= index+1 %>. <a href="/users/<%= user.id %>"><%= user.username %></a></p>
  <% end %>

<% end %>

<a href="/" id = "back"> &#8617; Go Back</a>