<%if current_user.username == @user.username%>
<h2> Welcome, <%= @user.username %></h2>
<%else%>
<h2><%= @user.username %>'s profile</h2>
<%end%>

<h3><%= @user.email %></h3>

<ul>
<p><%= link_to 'Ask a question', new_user_question_path(@user) %> </p>

<p><%= link_to 'Answer a question', answer_one_path(@user)%> </p>

<p><%= link_to 'Show your questions', user_questions_path(@user) %> </p>

<p><%= link_to 'Show your answers', user_answers_path(@user) %> </p>

<p> <%= link_to 'Edit your info', edit_user_path(@user) %>  </p>

</ul>
  


<p id="back"> <%= link_to 'Go Back', root_url %> </p>